@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --medium-blue: hsl(213, 16%, 29%);
    --dark-blue: hsl(213, 19%, 18%);
    --dark-blue2: hsl(216, 12%, 8%);
}

*{  
    font-family: 'Outfit', sans-serif;
}


body {
    background-color:var(--dark-blue2);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}

.face {
    position: absolute;
    width:350px;
    background-color:var(--dark-blue);
    padding:30px 30px;
    border-radius:25px;
    font-weight: 300;
    line-height: 26px;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
}

.face > h2{
    color: var(--white);
}

.imagefront {
    padding: 17px;
    border-radius: 100%;
    background-color: var(--medium-blue);
    
}

.face > p {
    color:var(--light-grey);
    font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
    margin: 25px auto
}

.numbers {
    width: 25px;
    height: 25px;
    display: block;
    padding: 13px;
    border-radius:100%;
    background-color:var(--medium-blue);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color:var(--light-grey);
    font-weight:700;
}

.container >input{
    display: none;
}

.container >input{
    cursor: pointer;
}

.numbers:hover {
    background-color:var(--light-grey);
    color: var(--white);
}

.container >input:checked + label{
    background-color:var(--orange);
    color: var(--white);
}


.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    border-radius: 25px;
    background-color: var(--orange);
    height: 45px;

}

.submit-button:hover{
    background-color: var(--white);
    
}

.submit-button:hover div{
    color: var(--orange);
    
}

.button-text {
    margin: 7px;
    color: var(--white);
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 15px;
}

button{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    border-radius: 25px;
    background-color: var(--orange);
    height: 45px;


}

.face.back {
    position: relative;
    display: flex;
    width: 350px;
    background-color: var(--dark-blue);
    padding: 30px 30px;
    border-radius: 25px;
    font-weight: 300;
    line-height: 26px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: rotateY(0.5turn);
}
    


.face.back >h2 {
    color: var(--white);
    margin-bottom: 0;
}

.face.back > p {
    color:var(--light-grey);
    font-size: 15px;
    text-align: center;
}

.face.back > span {
    background-color: var(--medium-blue);
    border-radius: 25px;
    padding-inline: 15px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: var(--orange);
}

#f1_card {
    /* width: 100%;
    height: 100%; */
    position: relative;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    margin: 50px auto;
  }

.flip {

    transform: rotateY(0.5turn);
  


}

/* .face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    display: block;
    transform: rotateX(180deg);
  } */
